:root {
  --primary: #DF928E;
  --secondary: #84A98C;
  --secondary2: #0c1b33;
  --secondary3: #D8D78F;
  --light: #edeee6;
  --dark: #0c1b33;
  --error: rgb(255, 1, 1);
  --border-radius: 0.3rem;
}

* {
  box-sizing: border-box;
  animation: transitionIn 1s;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logoIMG {
  height:300px;
  width: 300px;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-logout-container {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
/* CSS for style pages -------------------------------------- */
.stylesUl {
  width: 98.85vw;
  display: flex;
  justify-content: center;
  border: 5px solid black;
  padding-inline-start: 0;
}
.stylesUl li {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  width: 100%;
  border-left: 2.5px solid black;
  border-right: 2.5px solid black;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.stylesUl li a {
  font-weight: 500;
  font-size: 1.2rem;
}

#home, #beauty, #outfit, #mentalWear {
  color: black;
}

/* button*/
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}
/*  -------------------------------------- */


/*nav bar css*/
.navbar__content{
  height: 50px;
  /* background-image: linear-gradient(180deg, linen, hotpink); */
  /* border-radius: 15px; */
  margin: 0;
  padding: 0;
  display: flex;
  width: fit-content;
}

.login-logout {
  height: 50px;
  margin: 1%;
  padding: 2%;
  display: flex;
  width: fit-content;
  color: hotpink;
}

a {
  text-decoration: none;
  color: #ffff;
}


.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
  background-color: #ffff;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: rgb(255, 105, 150);
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  /* box-shadow: inset 0 0 2000px rgba(236, 173, 228, 0.5); */
  height: 100vh;
  width: 25%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -100px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin:0;
  padding:0;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

.authenticationHeading {
  padding-left:12%;
  font-size: 1em;
  text-align: center;
}
.text {
  padding-left: 15%;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
  width: 100%;
  padding-left: 20%;
}

.post-container {
  border-radius: 15px;
  width: 45%;
  margin: 2%;
  padding:2%;
  overflow: hidden;
  flex-wrap: wrap;
}

.work-img {
  height: 400px;
}

.quotes {
  font-size: 3em;
  color: rgb(255, 105, 150);
  padding: 2%;
}

.justify {
  text-align: justify;
}

h2 a {
  color: #000000;
}

