.contact{
        background-image:linear-gradient(180deg,#ffe5aefe, rgb(251, 225, 199));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height:800px;
      }
