.works {
    background-image:linear-gradient(180deg, #ffdeac,#ffe5aefe);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:800px;
    }
